<ol>
	<%= content_tag( 'li', link_to( 'David Cameron', person_show_url( :person => 'David_Cameron' ) ) ) %>
	<%= content_tag( 'li', link_to( 'Barack Obama', person_show_url( :person => 'Barack_Obama' ) ) ) %>
	<%= content_tag( 'li', link_to( 'Bradley Wiggins', person_show_url( :person => 'Bradley_Wiggins' ) ) ) %>
	<%= content_tag( 'li', link_to( 'Sarah Palin', person_show_url( :person => 'Sarah_Palin' ) ) ) %>
	<%= content_tag( 'li', link_to( 'Rupert Murdoch', person_show_url( :person => 'Rupert_Murdoch' ) ) ) %>
	<%= content_tag( 'li', link_to( 'Andy Murray', person_show_url( :person => 'Andy_Murray' ) ) ) %>
	<%= content_tag( 'li', link_to( 'Wayne Rooney', person_show_url( :person => 'Wayne_Rooney' ) ) ) %>
</ol>